.home-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  max-width: 700px;
  min-height: 75vh;
  margin: 0 auto;
}

.name-container {
  display: flex;
  flex-direction: column;
  margin-top: -2rem;
  justify-content: center;
  align-items: center;

  @media (min-width: 480px) {
    flex-direction: row;
  }

  .name {
    font-family: "Grandiflora One", serif;
    font-weight: 500;
    font-size: 7.5rem;
    color: #a65759;
    z-index: 1;

    @media (min-width: 480px) {
      font-size: 9.375rem;
    }

    &.colour-white {
      color: #ffffff;
      margin: -10rem -3.5rem;
      z-index: 0;
      font-size: 11rem;

      @media (min-width: 480px) {
        margin: -3rem -3.5rem;
        font-size: 13rem;
      }
    }
  }
}

.wedding {
  font-size: 1.75rem;
  font-weight: 900;
  margin: -0.5rem auto 1rem auto;
}

.home-date-container {
  display: flex;
  gap: 0.7rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2rem 0 0 0;

  .home-date {
    font-size: 1.75rem;
    font-weight: 400;
    text-align: center;
  }

  .home-line {
    width: 100%;
    border: 0.04rem solid #a65759;
    text-align: center;
  }

  .home-address {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
  }
}

.wax-image {
  height: 7rem;
  width: auto;
  margin: 1.5rem 0 0 0;

  @media (min-width: 480px) {
    margin: 3rem 0 0 0;
  }
}
