@import "../assets/colors.sass";

.home-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  max-width: 700px;
  min-height: 75vh;
  margin: 0 auto;

  &.save {
    height: 100vh;
  }
}

.ranged-left-container {
  display: flex;
  justify-content: center;
  z-index: 1;
  width: 100%;
  max-width: 700px;
  margin: 2rem auto 1rem auto;

  @media (min-width: 480px) {
    justify-content: flex-start;
  }
}

.name-container {
  display: flex;
  flex-direction: column;
  margin-top: -2rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  @media (min-width: 480px) {
    flex-direction: row;
    gap: 0;
  }

  .name {
    font-family: "Prata", serif;
    font-weight: 400;
    font-size: 6.15rem;
    color: $main-red;
    z-index: 1;

    @media (min-width: 480px) {
      font-size: 8rem;
    }

    &.and {
      color: $third-red;
      margin: -9.5rem -3.5rem;
      z-index: 0;
      font-size: 11rem;
      opacity: 0.5;

      @media (min-width: 480px) {
        margin: -3rem -3.5rem -4rem -3.5rem;
        font-size: 13rem;
      }
    }
  }
}

.wedding {
  font-size: 1.25rem;
  font-weight: 900;
  margin: 0rem 0 01rem 0;

  @media (min-width: 480px) {
    margin: 0rem 0 0 0;
  }
}

.home-date-container {
  display: flex;
  gap: 0.7rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem 0 0 0;

  &.save {
    margin: 0;
  }

  @media (min-width: 480px) {
    margin: 2rem 0 0 0;
  }

  .home-date {
    font-size: 1.75rem;
    font-weight: 400;
    text-align: center;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
    animation-delay: 2s;

    &.save {
      font-size: 3.5rem;

      @media (min-width: 480px) {
        font-size: 5rem;
      }
    }
  }

  .home-line {
    width: 100%;
    border: 0.04rem solid $second-red;
    text-align: center;
  }

  .home-address {
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;

    @media (min-width: 480px) {
      font-size: 1rem;
    }
  }
}

.wax-image {
  height: 6rem;
  width: auto;
  margin: 1rem 0 1rem 0;

  @media (min-width: 480px) {
    height: 7rem;
    margin: 3rem 0 0 0;
  }

  &.save {
    margin: 1rem 0 0rem 0;
  }
}

.wax-image-save {
  height: 7rem;
  width: auto;
  margin: 1rem 0 1rem 0;

  @media (min-width: 480px) {
    margin: 3rem 0 0 0;
  }
}

.barn-image-save {
  height: 7rem;
  width: auto;
  margin: 1rem 0 0 0;
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
  animation-delay: 3s;

  @media (min-width: 480px) {
    height: 13rem;
    margin: 2rem 0 0.25rem 0;
  }
}

.barn-image-details {
  height: 6rem;
  width: auto;
  margin: 0.5rem 0 0 0;

  @media (min-width: 480px) {
    height: 7rem;
    margin: 0.5rem 0 0.25rem 0;
  }
}

.ellia {
  animation: slideInFadeFromLeft 2.5s ease-out forwards;
  transform: translateX(-100%);
  opacity: 0;
}

@keyframes slideInFadeFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  80% {
    transform: translateX(10px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.dylan {
  animation: slideInFadeFromRight 2.5s ease-out forwards;
  transform: translateX(100%);
  opacity: 0;
}

@keyframes slideInFadeFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  80% {
    transform: translateX(-10px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.save-heading {
  font-weight: 600;
  font-size: 2rem;
  color: $main-red;
  margin: -0.5rem 0 1rem 0;
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
  animation-delay: 2s;

  @media screen and (min-width: 420px) {
    font-size: 3rem;
    margin: 0 0 2rem 0;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.save-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1.5rem auto 0rem auto;
  text-align: center;
  gap: 0.75rem;
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
  animation-delay: 2.75s;

  @media screen and (min-width: 420px) {
    margin: 3rem auto 0.5rem auto;
    flex-direction: row;
    gap: 2rem;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

  .home-page-text {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1.5rem;
    line-height: 1.4;
    text-align: center;
    position: relative;

    &.no-margin {
      margin-bottom: 0;
    }

    &.bold {
      font-weight: 800;
      margin-bottom: 0;
      color: $main-red;
    }

    &.overline {
      &::before {
        content: "";
        position: absolute;
        top: -1rem;
        left: 50%;
        transform: translateX(-50%);
        width: 10rem;
        height: 0.08rem;
        background: $main-red;
      }
    }

    &.menu-overline {
      &::before {
        content: "";
        position: absolute;
        top: -0.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 3rem;
        height: 0.08rem;
        background: $main-red;
      }
    }

    &.link-with-bottom-margin {
      font-weight: 600;
      text-decoration: underline;
      text-decoration-thickness: 0.08rem;
      text-underline-offset: 0.2rem;
      margin: -1.1rem 0 3rem 0;

      &:hover {
        opacity: 0.6;
      }
    }

    &.link {
      font-weight: 600;
      margin-bottom: 0;
      text-decoration: underline;
      text-decoration-thickness: 0.08rem;
      text-underline-offset: 0.2rem;
      margin: -1.1rem 0 1rem 0;

      &:hover {
        opacity: 0.6;
      }
    }

    &.bold-link {
      font-weight: 800;
      text-decoration: underline;
      text-decoration-thickness: 0.08rem;
      text-underline-offset: 0.2rem;
    }
  }