.home-main-container {
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    max-width: 700px;
    min-height: 80vh;
    margin: 0 auto;
}