@import "../../assets/colors.sass";

.reusable-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-red;
    color: white;
    height: 2.5rem;
    width: 40vw;
    font-size: 0.8rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease;

    @media (min-width: 480px) {
      height: 3rem;
      width: 12rem;
      font-size: 1rem;
    }
  
    &:hover {
      background-color: #a65759;
    }
  }
  