.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    width: 90vw;
    max-width: 700px;
    border-top: 0.08rem solid #a65759;
    font-size: 0.7rem;
    margin: 1.5rem auto 0 auto;
}