.header {
  width: 90vw;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
  border-bottom: 0.08rem solid #a65759;
  z-index: 10;

  .logo {
    font-family: "Grandiflora One", serif;
    font-weight: 900;
    font-size: 1.5rem;
    color: #a65759;
    margin: 0 0 1rem 0;
  }

  .nav-menu {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    text-align: center;
    width: 100vw;
    height: 100vh;
    transition: 0.3s;
    background-color: rgba($color: #000000, $alpha: 0.8);
    gap: 1.5rem;
    margin-bottom: 1rem;

    @media (min-width: 480px) {
      position: relative;
      flex-direction: row;
      background-color: transparent;
      width: auto;
      height: auto;
      left: auto;
    }

    a {
      font-size: 1.5rem;
      color: #ffffff;

      &:hover {
        color: #000000;
      }

      @media (min-width: 480px) {
        font-size: 0.9rem;
        color: #a65759;
      }
    }
  }
}

.nav-menu.active {
    left: 0;
}

.hamburger {
  display: block;
  position: absolute;
  top: 1.55rem;
  right: 1rem;
  z-index: 9;

  @media (min-width: 480px) {
    display: none;
  }
}
