@import url("https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Outfit:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
p,
a {
  color: #a65759;
}

body {
  margin: 0;
  font-family: "Outfit", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #eadcbf;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90vw;
    max-width: 700px;
    min-height: 75vh;
    margin: 2rem auto 4rem auto;
    text-align: center;

    .page-heading {
      font-family: "Grandiflora One", serif;
      font-weight: 900;
      font-size: 4rem;
      color: #a65759;
      border-bottom: 0.04rem solid #a65759;
      margin: 0 0 3rem 0;
    }
}

.page-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .page-subtile {
    font-size: 1.4rem;
    font-weight: 400;

    &.bold {
      font-weight: 800;
      margin-bottom: 1rem;
    }
  }

  .page-text {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    line-height: 1.3;
    
    &.bold {
      font-weight: 800;
      margin-bottom: 0;
    }

    &.link {
      font-weight: 400;
      margin-bottom: 0;
      text-decoration: underline;
      margin: -1rem 0 1rem 0;

      &:hover {
        opacity: 0.6;
      }
    }
  }
}