@import url("https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import "./assets/colors.sass";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
p,
a {
  color: $second-red;
}

body {
  margin: 0;
  font-family:
    "Outfit", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: $background-colour;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.hide-on-mobile {
  @media (max-width: 767px) {
    display: none;
  }
}

.main-container-password {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90vw;
  max-width: 700px;
  margin: 0 auto 0 auto;
  min-height: 90vh;
  position: relative;
  text-align: center;

  @media screen and (min-width: 420px) {
    margin: 2rem auto 4rem auto;
  }

  .content-container-password {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-48%, -15%);
    z-index: 10;

    @media screen and (min-width: 420px) {
      top: 50%;
      left: 50%;
      transform: translate(-48%, -15%);
    }
  }

  .page-heading-password {
    font-family: "Prata", serif;
    font-weight: 600;
    font-size: 1.8rem;
    color: #ffffff;
    border-bottom: 0.08rem solid #ffffff;
    margin: 0 0 1rem 0;

    @media screen and (min-width: 420px) {
      font-size: 2rem;
    }
  }

  .page-subtext-password {
    font-size: 1.25rem;
    font-weight: 600;
    color: #ffffff;

    &.bottom-margin {
      margin-bottom: 1rem;
    }
  }

  .barn-door-password {
    height: auto;
    width: 134%;
    top: 15%;
    left: 50%;
    transform: translate(-48%, -15%);
    opacity: 0;
    position: absolute;
    animation: fadeIn 3s ease-in forwards;

    @media (min-width: 480px) {
      height: 100%;
      width: auto;
      transform: translate(-46%, -15%);
      margin: 0;
      top: 15%;
      left: 50%;
    }
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90vw;
  max-width: 700px;
  min-height: 75vh;
  margin: 1rem auto 4rem auto;
  text-align: center;

  @media screen and (min-width: 420px) {
    margin: 2rem auto 4rem auto;
  }

  .page-heading {
    font-family: "Prata", serif;
    font-weight: 600;
    font-size: 1.8rem;
    color: $main-red;
    border-bottom: 0.08rem solid $main-red;
    margin: 0 0 2rem 0;

    &.password {
      margin: 2rem 0 2rem 0;

      @media screen and (min-width: 420px) {
        margin: 4rem 0 2rem 0;
      }
    }

    @media screen and (min-width: 420px) {
      font-size: 2rem;
      margin: 0 0 2.5rem 0;
    }
  }

  .page-subtext {
    font-size: 1.25rem;
    font-weight: 600;
    color: $main-red;

    &.bottom-margin {
      margin-bottom: 1rem;
    }
  }

  .menu-subhead {
    font-size: 1.2rem;
    font-weight: 600;
    color: $main-red;
    margin: 1rem 0 0 0;
  }

  .hotel-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;

    @media screen and (min-width: 420px) {
      gap: 1.5rem 2rem;
    }
  }

  .hotel-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(40%);
    box-sizing: border-box;
  }

  .page-subtitle {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 1.4;

    @media screen and (min-width: 420px) {
      font-size: 1.3rem;
    }

    &.bold {
      font-weight: 800;
      margin-bottom: 1rem;
      color: $main-red !important;
    }
  }

  .page-text {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    line-height: 1.4;
    text-align: center;
    position: relative;

    &.no-margin {
      margin-bottom: 0;
    }

    &.bold {
      font-weight: 800;
      margin-bottom: 0;
      color: $main-red;
      font-size: 1.15rem;
    }

    &.margin-bottom {
      margin-bottom: 2.5rem;
    }

    &.overline {
      &::before {
        content: "";
        position: absolute;
        top: -1rem;
        left: 50%;
        transform: translateX(-50%);
        width: 10rem;
        height: 0.08rem;
        background: $main-red;
      }
    }

    &.menu-overline {
      &::before {
        content: "";
        position: absolute;
        top: -0.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 3rem;
        height: 0.08rem;
        background: $main-red;
      }
    }

    &.link-with-bottom-margin {
      font-weight: 600;
      text-decoration: underline;
      text-decoration-thickness: 0.08rem;
      text-underline-offset: 0.2rem;
      margin: -1.1rem 0 3rem 0;

      &:hover {
        opacity: 0.6;
      }
    }

    &.link {
      font-weight: 600;
      text-decoration: underline;
      text-decoration-thickness: 0.08rem;
      text-underline-offset: 0.2rem;
      margin: -1.1rem 0 1rem 0;

      &.margin-link-bottom {
        margin: -1.1rem 0 3rem 0;
      }

      &:hover {
        opacity: 0.6;
      }
    }

    &.bold-link {
      font-weight: 800;
      text-decoration: underline;
      text-decoration-thickness: 0.08rem;
      text-underline-offset: 0.2rem;
      margin: -1.1rem 0 1rem 0;
    }
  }

  @media (max-width: 768px) {
    .hotel-card {
      width: 100%;
    }
  }
}

.text-link {
  a {
    color: $main-red;
    text-decoration: underline;
    cursor: pointer;
    margin: 0 0.35rem 0 0;

    &:hover {
      opacity: 0.6;
    }
  }
}

.password-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  z-index: 9;

  .password-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .password-input {
    width: 15rem;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 600;
    height: 3rem;
    border-radius: 0.5rem;
    border: 0.075rem solid $main-red;
  }

  .password-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: $main-red;
    height: 3rem;
    width: 15rem;
    font-size: 0.8rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease;

    @media (min-width: 480px) {
      font-size: 1rem;
    }

    &:hover {
      background-color: #a65759;
      color: #ffffff;
    }
  }

  .barn-image-password {
    height: 11rem;
    width: auto;
    margin: 1rem 0 0 0;
    opacity: 0;
    animation: fadeIn 3s ease-in forwards;

    @media (min-width: 480px) {
      margin: 2rem 0 0 0;
    }
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
}

.password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input {
  padding-right: 40px;
  width: 100%;
}

.password-toggle {
  position: absolute;
  right: 10px;
  cursor: pointer;
  user-select: none;
}

.eye-icon {
  height: 1.1rem;
  margin-top: 0.2rem;
}

.div-flex {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.div-flex-row {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: flex-start;
  justify-content: center;

  &.flowers {
    gap: 0;
  }
}

.div-flex-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.div-flex-menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.div-flex-mob-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;

  @media (min-width: 480px) {
    flex-direction: row;
    align-items: flex-start;
    gap: 3.5rem;
  }
}

.div-flex-mob {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: flex-start;
  justify-content: center;
  text-align: center;

  @media (min-width: 480px) {
    flex-direction: row;
  }
}

.div-flex-mob-qr-code{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: -1rem auto 3rem auto;

  @media (min-width: 480px) {
    flex-direction: row;
    gap: 5rem;
  }
}

.div-flex-one {
  flex: 1;
}

.qr-white-box {
  background-color: #ffffff;
  padding: 1rem;
  border: 0.1rem solid $main-red;
  border-radius: 0.5rem;
}

.qr-code-monzo {
  height: 7em;
  width: auto;
  margin: 0;
}

.qr-code-paypal {
  height: 7em;
  width: auto;
  margin: 0;
}

.red-dress-illo {
  height: 7em;
  width: auto;
  margin: 0.65rem 0 0.5rem 0;
}

.kilt-illo {
  height: 5.75em;
  width: auto;
  margin: 0.65rem 0 0.5rem 0;
}

.rings-illo {
  height: 3.75rem;
  margin: 0 0 0.15rem 0;
}

.taxi-illo {
  height: 3.5em;
  width: auto;
  margin: 0.75rem 0 0.15rem 0;
}

.cocktail-illo {
  height: 4.5em;
  width: auto;
  margin: 0.5rem 0 0.15rem 0;
  transform: rotate(-10deg);
}

.camera-illo {
  height: 2.8em;
  width: auto;
  margin: 1rem 0 0.15rem 0;
  transform: rotate(15deg);
}

.champagne-illo {
  height: 5.5em;
  width: auto;
  margin: 0.5rem 0 0.15rem 0;
}

.confetti-illo {
  height: 4.5em;
  width: auto;
  margin: 0.75rem 0 0.15rem 0;
}

.glitterball-illo {
  height: 5.5em;
  width: auto;
  margin: 0 0 0.15rem 0;
}

.eating-illo {
  height: 4.5em;
  width: auto;
  margin: 0.25rem 0 0.15rem 0;
}

.flower-one-illo {
  height: 4.5em;
  width: auto;
  margin: 0rem 0 1rem 0;
  transform: rotate(-25deg);
}

.flower-two-illo {
  height: 5em;
  width: auto;
  margin: -1rem 0 1rem 0;
  transform: rotate(80deg);
}
.flower-three-illo {
  height: 4rem;
  width: auto;
  margin: 1rem -0.75rem -1rem -0.75rem;
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
  animation-delay: 3s;

    @media (min-width: 480px) {
      height: 4.5rem;
    margin: 0 -0.65rem 0 -0.65rem;
  }
}

.map-container {
  margin-bottom: 3rem;
  width: 100%;
}

.order-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  margin-top: -0.5rem;

  @media (min-width: 480px) {
    text-align: left;
    margin-top: 0;
  }
}

.order-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 10rem;
  margin-top: 1rem;
  position: relative;

  @media (min-width: 480px) {
    flex-direction: row;
    height: 6rem;
    gap: 1rem;
  }

  &.order-overline {
    &::before {
      content: "";
      position: absolute;
      top: -0.3rem;
      left: 50%;
      transform: translateX(-50%);
      width: 60vw;
      height: 0.08rem;
      background: $main-red;

      @media (min-width: 480px) {
        width: 20rem;
      }
    }
  }

  .order-left-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;

    @media (min-width: 480px) {
      justify-content: flex-end;
    }
  }

  .order-center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
  }

  .order-right-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;

    @media (min-width: 480px) {
      justify-content: flex-start;
      width: 12rem;
    }
  }
}
